@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #1d3557; */
  /* background: linear-gradient(135deg, #1d3557, #3b5b89, #4a6ea3, #2c4870); */
  min-height: 100vh; /* full viewport height */
  width: 100%;
  /* background: linear-gradient(90deg, #1d3557, #3b5b89, #4a6ea3, #2c4870); */
  background: linear-gradient(90deg, #1d3557, #3b5b89, #1b263b);

  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* color: #f1faee; */
  font-family: "Montserrat", "Roboto", sans-serif;
  margin: auto;
}

/* h1, h2, h3, h4, p, a{
    color: #f1faee;
} */
